
/*! Base styles */
body{
	font-family: $primary_font;
}

header , section , footer {
	text-align: center;
}

section {position:relative; z-index:5;}

.wrapper {
	max-width: 100vw;
	margin: 0 auto;
	text-align: left;
	padding: 0%;
}

a, a:link, a:active {color:$secondary_color; text-decoration:underline; transition: all $hover_speed;}
a:hover {color: #333638; transition: all $hover_speed;}

a.btn {display:inline-block; background-color:$orange; 
  color: #FFFFFF;	
  font-family: $primary_font;
  font-size: 16px;	
  font-style: italic;	
  text-align: center;
  padding: 10px 20px;
  border-radius:5px; 
  border:1px solid #fff;
  text-decoration:none;
  transition: all $hover_speed;
}

a.btn.white {
  background-color:#fff; color:#333638; border:1px solid #333638; transition: all $hover_speed;
}

a.btn:hover {
  	background-color: #333638; color:#fff;
    transition: all $hover_speed;
}

