
/*! Variables */

// Colors
$primary_color: #f5821f;
$orange: #f5821f;
$secondary_color: #44768e;
$light_gray: #f4f4f4;
$gray: #b1b3b5;
$dark_gray: #333638;
$dark_gray2: #344046;
$black: #333638;
$blue: blue;
$yellow: yellow;

// Fonts
$primary_font: "europa",sans-serif;
$secondary_font: "acumin-pro-condensed",sans-serif;
$font1: "europa",sans-serif;
$font2: "acumin-pro-condensed",sans-serif;

// Sizes
$maxwidth: 1800px;
$site_width: 1440px;
$desktop: 1260px;
$mobile_nav: 940px;
$tablet: 768px;
$mobile: 540px;


//Misc
$hover_speed: 0.3s;
